

{% load crispy_forms_tags %}
<div class="modal modal-lg fade" id="editarPostagemModal{{post.id}}" tabindex="-1" 
	aria-labelledby="editarPostagemModalLabel" aria-hidden="true"> 
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Editar Postagem</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mx-2">Criar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
			</div>
		</div>
	</div>
</div>