{% extends 'base.html' %}


{% load humanize %}

<!-- CONTENT -->
{% block content %}

        <div class="card-columns mt-4">

                <!-- FOR LOOP -->
                {% for post in posts %}<!-- a varialvel post faz referencia ao que deve ser usado no html e o pots ta sendo trazido da viewr com a pesquisa-->
                        <div class="card">
                         {% if post.imagem_post %}   
                                <a href="{% url 'post_detalhes' post.id %}">
                                    <img class="card-img-top"
                                            src="{{ post.imagem_post.url }}"
                                            alt="{{ post.titulo_post }}">
                                </a>
                          {% endif %}      

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'post_detalhes' post.id %}">
                                    {{ post.titulo_post }}
                                </a>
                            </h5>
                            <p class="card-text">{{ post.exerto_post }}</p>
                            <p class="card-text">

                                <small class="text-muted">

                                    {{ post.data_post|naturalday|title }}<!--usa o metodo humanize referenciado no instal apps para formatar a data-->
                                    |
                                    {{ post.numero_comentarios }} Comentário(s)
                                    <!-- esse jeito abaixo apenas conta quantos comentarios tem o post o no acima separa os comentarios publicados ou não-->
                                    <!--{{ post.comentario_set.count }} Comentário(s)<!-- conta e mostra quantos comentarios existem pra determinado post, obs:comentario é um foreidkey -->
                                    |
                                    {{ post.categoria_post }}<!--lista e associa a categoria cadastrada pra determinadado post, obs: categoria é um foreidkey -->

                                </small>

                            </p>

                            <div class="text-right">
                                <a href="{% url 'post_detalhes' post.id %}" class="btn btn-outline-secondary">Ler mais...</a>
                            </div>
                        </div>
                        </div>
                <!--/FOR LOOP-->
                {% endfor %}
        </div>

<!--/CONTENT-->
{% endblock %}