{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'blog_index' %}" class="logo d-flex align-items-center">
        <!-- colocar a imagem a logo -->
        <img src="{% static 'images/raven12.jpg' %}" alt=""> 
        <h1 class="sitename">PROJECT RAVEN</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a href="#about">Sobre nós</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="{% url 'blog_index' %}">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="{% url 'blog_details' %}">Blog detalhes</a></li>
                </ul>
              </li>
              <li><a href="{% url 'error500' %}">error500</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="{% url 'error404' %}">error404</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contato</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
